@import url('https://fonts.googleapis.com/css2?family=Neucha&family=Prata&family=Spartan:wght@600&family=Euphoria+Script&display=swap&');

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

h1, h2, h3, h4 {
  font-family: Neucha;
}

h2 {
  color: #1db1ff;
  text-align: center;
  font-size: 3rem;
  margin: 1rem auto .15rem auto;
}

h3 {
  color: #5e6670;
  font-size: 2rem;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 0px;
}

h4 {
  font-size: 1.25rem;
}

p {
  margin: 2px auto 0px auto;
  color: #5e6670;
  font-size: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
}

div {
  padding: 2% auto;
}

nav {
  position: -webkit-sticky; position: sticky; top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-around;
  min-height: 5vh;
  background: rgb(194, 189, 189);
  color: white;
  width: 100%;
  font-weight: bold;
}

.nav-links {
  list-style: none;
}

.nav-links > a {
  text-decoration: none;
  padding: 0rem 1.5rem;
 
}

.nav-links > a > li {
  text-decoration: none;
  display: inline;
  padding: 0px;
}

input {
  width: 10px;
  box-sizing: border-box;
  border-radius: 4px;
  margin-bottom: 10px;
  font-size: 1.25rem;
  height: 2rem;
  padding: 12px 20px;
  color: #5e6670;
}

input:disabled {
  opacity: 0.4;
}

input[type='text'], input[type='email'], input[type='password'], input[type='select'], input[type='number']  {
  margin: 0 auto 10px auto;
  width: 100%; 
}

input[type="text"]:not(.browser-default)#sign-up {
  border-style: none;
  border-bottom: solid;
  border-width: 2px;
  border-color: #5e6670;
  margin-top: 10px;
  background-color: transparent;
  color: #5e6670;
  font-size: 1.5rem;
  width: 80%;
  margin-bottom: 20px;
}

input[type="text"]:not(.browser-default)#sign-up::-webkit-input-placeholder { /* Edge */
  color: #5e6670;
  font-weight: 600;
  padding-left: 20px;
}

input[type="text"]:not(.browser-default)#sign-up::-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #5e6670;
  font-weight: 600;
  padding: 12px 20px;
}

input[type="text"]:not(.browser-default)#sign-up::placeholder {
  color: #5e6670;
  font-weight: 600;
  font-size: 1.5rem;
  padding: 3px 12px;
}  

textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  resize: none;
}

form {
  width: 80%;
}

form-control {
  background-color: transparent;
  border: 1px solid #999;
  border-radius: 0;
  color: #999999;
  font-size: 12px;
  font-weight: 500;
  height: 50px;
  letter-spacing: 0.1em;
  padding-left: 10px;
  margin: 0 0 25px 0;
  line-height: 14px;
  text-transform: uppercase;
}

.form-control:focus {
  box-shadow: none;
  outline: 0 none;
}

.form-control, input[type="email"]:not(.browser-default),input[type="text"]:not(.browser-default) {
  border-style: solid;
  border-width: 2px;
  border-color: #5e6670;
  border-radius: 2px;
  margin-top: 10px;
  background-color: white;
  color: #5e6670;
}

input[type="email"]:not(.browser-default),input[type="text"]:not(.browser-default){
  padding: 3px 12px;
}

button[type="button"] {
  display: block;
  appearance: none;
  background: #1db1ff;
  color: white;
  font-weight: bold;
  border: none;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 4px;
  width: 100%;
  margin: 20px auto 5px auto;
}

button[type="submit"]:active,
input[type="button"]:active,
input[type="submit"]:active {
  transition: 0.3s all;
  transform: translateY(3px);
  border: 1px solid transparent;
  opacity: 0.8;
}

input[type="button"]:hover {
  transition: 0.3s all;
}

button[type="submit"],
input[type="button"],
input[type="submit"] {
  -webkit-appearance: none;
}

#page-title {
  font-family: Euphoria Script;
  font-size: 6.5rem;
  margin-bottom: 0px;
  margin-top: 1.25rem;
  color: #1db1ff;
  letter-spacing: -0.2rem;
}

#sub-title {
  font-size: 2.5rem;
}

.banner {
  width: 100%;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  padding: 1rem;
  text-align: center;
}

.section {
  padding: 7rem 4rem 7rem 4rem;
}

.row {
  max-width: 100%;
  margin-right: 0%;
  margin-left: 0%;
}

.bg-color-pal-1{
  background-color:#fdfbe5;
}

.bg-color-pal-2 {
  background-color: #c4e7fa;
}

.bg-color-pal-3 {
  background-color: #efdee4;
}

.bg-color-pal-4 {
  background-color: #d8f9e1;
}

.bg-color-pal-5 {
  background-color: #c2bdbd;
}

.bg-color-pal-6 {
  background-color: #fffffA;
}

label {
  color: #5e6670;
  font-size: 1rem;
  padding-bottom: 30px;
  font-size: 1.25rem;
  margin-bottom: 10px;
  text-align: left;
}

svg {
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
  z-index:0;
  opacity: 0.3;
}

a.top {
  top:-100px;
  height: 0;
  width:0;
}

a#what {
  top: -100px;
}

.container {
  width: 80%;
}

.icon-img {
  max-width: 100px;
  margin: auto;
}

.form-group {
  margin-bottom: 1.5rem;
}

#babies-img, #harleigh-img {
  max-width: 85%;
  margin-left: 7.5%;
  margin-right: 7.5%;
  opacity: 0.8;
  border-style: solid;
  border-color: white;
  border-width: 15px;
  border-radius: 8px;
  box-shadow:5px 5px 5px #999;
}

#harleigh-img {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}    

img.benefit-img {
  border-style: solid;
  border-width: 8px;
  border-color: white;
  border-radius: 10px;
  max-width: 80%;
  margin: auto 10%;
}

img.icon-img {
  border-radius: 10px;
  max-width: 70%;
  margin: 10%;
}

img#babybottle {
  margin-top: 21%;
  margin-bottom: 4%;
}

img#babyprints {
  scale: 150%;
  margin-bottom: 24%;
  margin-top: 83%;
  margin-left: 18%;
  margin-right: 10%;
}

img#babychick {
  margin-bottom: 10%;
  margin-top: 60%;
  margin-left: 10%;
}

img#blueballoon {
  margin-bottom: -11%;
  margin-top: 13%;
}

img#harleigh-img {
  width: 100%;
  max-width: 75%;
  margin-top: 20%;
  margin-bottom: 7%;
}

img#snowflake-baby-definition {
  width: 70%;
  margin-right: 15%;
  margin-left: 15%;
}

img#snowflake-baby-logo {
  width: 60%;
  margin-right: 15%;
  margin-left: 25%;
  margin-top: -22%;
}

img#signup {
 width: 100%;
 margin: auto;
 margin-bottom: -20%;
}

img#search-profiles {
  width: 100%;
}

img#sign-contract {
  width: 70%;
}

#why-us-heading {
  margin-bottom: -10%;
}

div#access {
  margin-bottom: 30%;
}

p#my-story, h3.snowflake-baby {
  width: 80%;
  margin-right: 10%;
  margin-left: 10%;
}

#contact {
  height: auto;
  width: 100%;
}

#contact-heading {
  margin-top: 10%;
  margin-bottom: -5%;
}  

.contact-details {
  list-style: none;
  margin: 0;
  padding: 0;
}

.contact-details li {
  padding-bottom: 10px;
}

#contact input {
  width: 100%;
}

#contact  #sendmessage {
  color: #18d26e;
  border: 1px solid #18d26e;
  display: none;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin: 15px;
}

#contact  #errormessage {
  color: red;
  display: none;
  border: 1px solid red;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin: 15px;
}

#contact #sendmessage.show, #contact #errormessage.show, #contact .show {
  display: block;
}

#contact .validation {
  color: red;
  display: none;
  margin: 0 0 20px;
  font-weight: 400;
  font-size: 13px;
}

div#index-banner {
  background-image: url('../images/baby-bg-1.png');
  background-size: cover;
  background-repeat: no-repeat;
}

div#how-it-works-section, div#contact-section {
  background-image: url('../images/backgrounds/particle-bg.svg');
}

div#why-us-section {
  background-image: url('../images/backgrounds/gradient-bg.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

div#contact-section.section {
  padding-bottom: 2rem;
}

div.trans-card {
  width: 60%;
  margin-left: 0%;
}

div#header-card {
  margin-left: 0%;
  margin-top: 6%;
}

textarea.form-control {
  width: 105%
}

p.center.annotation {
  font-size: 1rem;
}

p#annotation-2.center {
  font-size: .8rem;
}

sumome-react-wysiwyg-move-handle > div > button {
  color:#1db1ff;
}

@media screen and (min-width: 1400px) {
  img#harleigh-img {
    margin-top: 7%;
  }
}

@media screen and (min-width: 650px) and (max-width: 800px){
  p {
    font-size: 1.5rem;
    padding-left: 12%;
    padding-right: 12%;
  }

  h5 {
    font-size: 2rem;
  }
}  

@media screen and (max-width: 1400px){
  form {
    margin: 7%;
  }

  .row .col.m6 {
    width: 75%;
    margin-left: 12.5%;
    margin-right: 12.5%;
  }

  img#harleigh-img {
    margin-top: 10%;
  }

  img#babies-img {
    max-width: 100%;
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 5%;
  }  
}

@media screen and (max-width: 1200px){
  
}

@media screen and (max-width: 1160px){
  p.center.annotation {
  font-size: .75rem;
  }
}

@media screen and (max-width: 1060px){
  div#index-banner {
    background-size: contain;
    margin-bottom: -10%;
  }

  div.trans-card {
    margin-top: 50%;
    width: 100%;
  }

   img#search-profiles, img#signup-img,  img#chat-img,  img#sign-contract-gif   {
    max-width: 100%;
  }

  div#header-card {
    margin-left: auto;
    margin-top: 10%;
  }

  img#snowflake-baby-definition {
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
  }
}

@media screen and (max-width: 800px){
  div#index-banner {
    background-size: contain;
    margin-bottom: 3%;
  }

  div.trans-card {
    margin-top: 40%;
  }

  #sub-title {
    font-size: 2.0rem;
  }

  .icon-block{
    padding-bottom: 10%;
  }

  h3.snowflake-baby {
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
  }

  div.panel-body.text-left {
    padding-left: 17%;
    padding-top: 10%;
  }

  .section {
    padding: 5rem 1rem 2rem 1rem;
  }

  .row .col.m3, .row .col.m4 {
    width: 100%;
    text-align: center;
  }

  img#snowflake-baby-definition, p.center.annotation  {
    display: none;
  }

  img#search-profiles, img#signup-img,  img#chat-img,  img#sign-contract-gif   {
    width: 40%;
  }

  img#babychick, img#blueballoon, img#babybottle, img#babyprints {
    width: 30%;
    margin-top: 10%;
  }

  img#blueballoon{
    max-width: 50%;
    margin-top: -20%;
  }

  img#babychick {
    margin-top: 3%;
    margin-bottom: 3%;
  }

  img#babyprints {
    scale: 150%;
    margin-bottom: 10%;
  }

  div.section.bg-color-pal-4.why {
    margin-bottom: -10%;
  }

  .center.lift {
    margin-bottom: -8%;
    margin-top: 10%;
  }

  textarea.form-control {
    width: 110%;
  } 
}

@media screen and (max-width: 650px){
  div#index-banner {
    margin-bottom: 5%;
  }

  div.section.bg-color-pal-4.why {
    margin-bottom: -5%;
  }

  button.btn.btn-raised.btn-block.btn-danger {
    width: 100%;
    height: 4rem;
    margin-left: 4%;  
  }
}  

@media screen and (max-width: 580px){
  div#index-banner {
    margin-bottom: 3%;
  }

  div.trans-card {
    margin-top: 30%;
  }

  #page-title {
    font-size: 4.5rem;
    margin-bottom: 0px;
    margin-top: 2.0rem;
  }

  input#sign-up.center {
    font-size: 1.0rem;;
  }

  input[type="text"]:not(.browser-default)#sign-up {
    font-size: 1.0rem; 
  }

  input[type="text"]:not(.browser-default)#sign-up::-webkit-input-placeholder { /* Edge */
    font-size: 1.0rem;
  }

  input[type="text"]:not(.browser-default)#sign-up::-ms-input-placeholder { /* Internet Explorer 10-11 */
    font-size: 1.0rem; 
  }

  input[type="text"]:not(.browser-default)#sign-up::placeholder {
    font-size: 1.0rem;
  }  

  .section {
    padding: 5rem .5rem 2rem .5rem;
  }

  textarea.form-control {
    width: 115%;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  .icon-block{
    padding-bottom: 20%;
  }

  .center.lift {
    margin-bottom: -13%;
  }

  #contact-heading {
    margin-top: auto;
    margin-bottom: 1%;
  }  

  button.btn.btn-raised.btn-block.btn-danger {
    margin-left: 8%;
  }

  #babies-img, #harleigh-img {
    border-width: 5px;
  }

  #babies-img {
    margin-top: 25%;
  }

  button.btn.btn-raised.btn-block.btn-danger {
    margin-left: 5%;
  }

  div.panel-body.text-left {
    padding-left: 8%;
    padding-top: 10%;
  }

  #sub-title {
    font-size: 2.0rem;
  }
}  

@media screen and (max-width: 400px){
  div#index-banner {
    margin-bottom: -20%;
  } 

  div.trans-card {
    margin-top: 27%;
  }

 #page-title {
    font-size: 3.5rem;
  }

  div.section.bg-color-pal-4.why {
    margin-bottom: -35%;
  }
}

@media screen and (max-width: 350px){
  div#index-banner {
      margin-bottom: -40%;
  }

  input#sign-up.center {
    font-size: .9rem;;
  }

  input[type="text"]:not(.browser-default)#sign-up {
    font-size: .9rem; 
  }

  input[type="text"]:not(.browser-default)#sign-up::-webkit-input-placeholder { /* Edge */
    font-size: .9rem;
  }

  input[type="text"]:not(.browser-default)#sign-up::-ms-input-placeholder { /* Internet Explorer 10-11 */
    font-size: .9rem; 
  }

  input[type="text"]:not(.browser-default)#sign-up::placeholder {
    font-size: .9rem;
  }
}

