@import url('https://fonts.googleapis.com/css2?family=Neucha&family=Prata&family=Spartan:wght@600&family=Euphoria+Script&display=swap&');


.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

h1, h2, h3, h4 {
  font-family: Neucha;
}

h2 {
  color: #1db1ff;
  text-align: center;
  margin-bottom: 0px;
}

h3 {
  color: white;
  font-size: 2rem;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 0px;
}

h4 {
  font-size: 1.25rem;
}

p {
  margin: 2px auto 0px auto;
  color: grey;
  font-size: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
}

#page-title {
  font-family: Euphoria Script;
  font-size: 6.5rem;
  margin-bottom: 0px;
  margin-top: 1.25rem;
  color: #1db1ff;
  letter-spacing: -0.2rem;
}

#site-desc {
  margin-top: -.1rem;
  letter-spacing: 0.35em;
}

h2 {
  font-size: 3rem;
  margin: 1rem auto .15rem auto;
}

div {
  padding: 2% auto;
}

input {
  box-sizing: border-box;
  border-radius: 4px;
  margin-bottom: 10px;
  font-size: 14px;
  height: 2rem;
}

input:disabled {
  opacity: 0.4;
}

input[type='text'], input[type='email'], input[type='password'], input[type='select'], input[type='number']  {
  margin: 0 auto 10px auto;
  width: 100%; 
}

button[type="button"] {
  display: block;
  appearance: none;
  background: #1db1ff;;
  color: white;
  font-weight: bold;
  border: none;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 4px;
  width: 70%;
  margin: 20px auto 5px auto;
}

button[type="submit"]:active,
input[type="button"]:active,
input[type="submit"]:active {
  transition: 0.3s all;
  transform: translateY(3px);
  border: 1px solid transparent;
  opacity: 0.8;
}

input[type="button"]:hover {
  transition: 0.3s all;
}

button[type="submit"],
input[type="button"],
input[type="submit"] {
  -webkit-appearance: none;
}

.banner {
  width: 100%;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  padding: 1rem;
  text-align: center;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
  display: inline-block;
  margin-bottom: 2rem;
  padding: 1rem;
}

.logo-card {
  width: 400px;
  margin: .75rem;
  border-radius: 15px;
  box-shadow: 1px 4px 4px 4px rgba(0, 0, 0, 0.2);
  padding: 1.5rem 3.5rem 1.5rem 1.5rem;
  display: inline-block;
  text-align: center;
}

.site-card {
  width: 100%;
  text-align: center;
}

.section-card {
  border-color:#61dafb;
  background-color: #6fffff;
  border-radius: 15px;
}

.section {
  padding: 10rem 4rem 10rem 4rem;
}

.card {
  min-width: 260px;
  width: 20%;
  margin:1rem .75rem;
  border-radius: 15px;
  box-shadow: 1px 4px 4px 4px rgba(0, 0, 0, 0.2);
  padding: 1.5rem 3rem;
  display: inline-block;
  text-align: left;
}

.card grid {
  display: inline-grid;
}

.bg-color-pal-1{
  background-color:#fdfbe5;
}

.bg-color-pal-2 {
  background-color: #c4e7fa;
}

.bg-color-pal-3 {
  background-color: #efdee4;
}

.bg-color-pal-4 {
  background-color: #d8f9e1;
}

.bg-color-pal-5 {
  background-color: #c2bdbd;
}

.bg-color-pal-6 {
  background-color: #fffffA;
}


Button.nav-button {
  color: #5856c3;
}

.MuiAppBar-colorPrimary {
  color: #fff;
  background-color: #a5a6af;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 3s alternate;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(-5deg);
  }
  to {
    transform: rotate(5deg);
  }
}

nav {
  display: flex;
  justify-content: space-around;
  min-height: 5vh;
  background: rgb(194, 189, 189);
  color: white;
  width: 100%;
  font-weight: bold;
}

.nav-links {
  list-style: none;
}

.nav-links > a {
  text-decoration: none;
  padding: 0rem 1.5rem;
 
}

.nav-links > a > li {
  text-decoration: none;
  display: inline;
  padding: 0px;
}

#index-banner {
  height: 100%;
  width: 100;
  opacity: .8;
  background-color: #fff;
}

.container {
  opacity: 1;
}

.icon-img {
  max-width: 100px;
  margin: auto;
}

#babies-img, #harleigh-img {
  display: inline-block;
  max-width: 600px;
  opacity: 0.8;
  border-style: solid;
  border-color: white;
  border-width: 15px;
  border-radius: 8px;
  box-shadow:5px 5px 5px #999;
}

img.benefit-img {
  border-style: solid;
  border-width: 8px;
  border-color: white;
  border-radius: 10px;
  max-width: 80%;
  margin: auto 10%;
}

img.icon-img {
  border-radius: 10px;
  max-width: 80%;
  margin: 10%;
}

#babyprints {
  scale: 150%;
  margin-bottom: 20%;
  margin-top: 95%;
  margin-left: 15%;
  margin-right: 10%;
}

#babychick {
  margin-bottom: 2%;
  margin-top: 70%;
  margin-left: 10%;
}

#blueballoon {
  margin-bottom: -20%;
  margin-top: 15%;
}

div#access {
  margin-bottom: 30%;
}

#why-us-heading {
  margin-bottom: -10%;
}

img#harleigh-img {
  margin-top: 10%;
  width: 80%;
}

p#my-story {
  width: 80%;
}